.banner_divider {
    width: 100%;
}

.product_slogan {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 4rem;
    padding: 5rem 0rem;
}

.product_slogan_box {
    // text-align: justify;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
//     box-shadow: 0px 0px 4px 0px rgba(204,204,204,0.75);
// -webkit-box-shadow: 0px 0px 4px 0px rgba(204,204,204,0.75);
// -moz-box-shadow: 0px 0px 4px 0px rgba(204,204,204,0.75);

    &:hover {
        transform: translateY(5px) !important;
    }

    h5 {
        margin: 1rem 0rem;
    }
}

.product_slogan_box_one {
    background-color: #fdf7e9;
}
.product_slogan_box_two {
    background-color: #e9f9fd;
}
.product_slogan_box_three {
    background-color: #BCFFB9;
}
.product_slogan_box_four {
    background-color: #dfeaec;
}




/******************* - MEDIA QUERIES STARTED - ***********************/

@media (max-width: 430px) {
    .product_slogan {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.5rem;
       
    }

}


@media (min-width: 435px) and (max-width: 800px) {
    .product_slogan {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        padding: 0.5rem;
       
    }

}





/******************* - MEDIA QUERIES STARTED - ***********************/
